body{
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
}

/*------------ TELA INICIAL -----------*/
.telaInicial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telaInicial img{
    margin-top: 24vh;
    height: 65px;
    width: 55px;
}

h1{
    padding: 5px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    color: #FFFFFF;
}

.telaInicial button{
    margin-top: 19vh;
    width: 141px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    color: #D70900;
}

/*------------ TELA DO DECK DE CARTAS -----------*/
header{
    display: flex;
    justify-content: center;
    padding: 22px;
    align-items: center;
    margin-bottom: 7px;
}

header h1{
    font-size: 20px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

li{
    width: 170px;
    min-height: 28px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    padding: 6px;
    position: relative;
}

li img{
    padding: 6px;
    margin-left: 80px;
}

li.question{
    font-weight: 400;
    padding-top: 13px;
    min-height: 54px;
    align-items: baseline;
    background: #FFFFD4;
    position: relative;
}

li.question img{
    position: absolute;
    bottom: 1px;
    right: 2px;
}

li.answer{
    font-weight: 400;
    padding-top: 13px;
    height: auto;
    align-items: baseline;
    background: #FFFFD4;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 39px;
}

li.answer .buttons{
    display: flex;
    bottom: 0;
    margin-top: 12px;
    position: absolute;
    bottom: 3px;
    left: 3px;
}

.buttons button{
    padding: 0;
    height: 24px;
    width: 55px;
    font-size: 7px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    color: #FFFFFF;
}

button.wrong{
    background: #FF3030;
}

button.almost{
    background: #FF922E;
}

button.zap{
    background: #2FBE34;
}

li .icon{
    position: absolute;
    font-size: 17px;
    padding: 6px;
    right: 7px;
}

.wrong{
    color: #FF3030;
}

.almost{
    color: #FF922E;
}

.zap{
    color: #2FBE34;
}

li.wrong,
li.almost,
li.zap{
    text-decoration-line: line-through;
}

footer{
    width: 100vw;
    display: flex;
    min-height: 22px;
    padding: 14px 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    color: #333333;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

footer .icon{
    font-size: 15px;
}

footer img{
    height: 18px;
}

footer .title-message{
    display: flex;
    align-items: center;
}

strong{
    margin-left: 5px;
    font-weight: 700;
}

footer .message{
    margin: 12px;
}

footer p{
    margin-top: 2px;
}


@media (min-width:1000px) {
    .telaInicial img{
        height: 85px;
        width: 75px;
    }

    .telaInicial h1{
        margin-top: 10px;
        font-size: 40px;
    }

    .telaInicial button{
        width: 161px;
        height: 51px;
        font-size: 16px;
    }

    header{
        margin-bottom: 12px;
    }
    header h1{
        font-size: 32px;
    }

    header img{
        height: 40px;
    }
    ul{
        margin-bottom: 85px;
    }
    li{
        min-height: 43px;
        min-width: 328px;
        font-size: 17px;
    }

    li img{
        margin-left: 202px;
    }

    .buttons button{
        height: 34px;
        width: 107px;
        font-size: 13px;
    }

    footer{
        min-height: 47px;
        font-size: 19px;
    }

    footer .icon{
        font-size: 20px;
    }
}
